{% extends 'index.html' %}

{% load static %}

{% block title %}Simon's Secret Base{% endblock %}

{% block css_files %}
     <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}" /></style>
{% endblock %}

{% block content %}
    {% comment %} <img src="{% static "images/home2.jpg" %}" alt="Photo of Cthulu" id="pic" weight =80% height = 80% style = 'margin:10%'/> {% endcomment %}
    <div class = "overaway">
        <div class="middlediv"  >
         <img class="homeimg" src="{% static "images/home2.jpg" %} " />
         </div>
    </div>
{% endblock %}


{% block javascript_files %}
{% endblock %}


