{% extends 'index.html' %}

{% load static %}

{% block title %}Simon's Secret Base{% endblock %}

{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static "css/info.css" %}" /></style>
{% endblock %}

{% block content %}
    <img src="{% static "images/home2.jpg" %}" alt="Photo of Cthulu" id="pic" align="middle"/>
    {% comment %} <div style="background-image: url( "{% static "images/home2.jpg" %}")"></div> {% endcomment %}
{% endblock %}


{% block javascript_files %}
{% endblock %}
