{% extends 'index.html' %}

{% load static %}

{% block title %}首頁{% endblock %}

{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static "css/info.css" %}" /></style>
{% endblock %}

{% block content %}
<div class = "infodiv">
    <div id="page-wrap">

    <img src="{% static "images/me.png" %}" alt="Photo of Cthulu" id="pic" />

    <div id="contact-info" class="vcard">
    
        <!-- Microformats! -->
    
        <h1 class="fn">蘇柏勳</h1>

    </div>
            
    <div id="objective">
        <p>
            I am an outgoing and energetic (ask anybody) young professional, seeking a 
            career that fits my professional skills, personality, and murderous tendencies. 
            My squid-like head is a masterful problem solver and inspires fear in who gaze upon it. 
            I can bring world domination to your organization. 
        </p>
    </div>
    
    <div class="clear"></div>
    
    <dl>
        <dd class="clear"></dd>
        
        <dt>Education</dt>
        <dd>
            <h2>Withering Madness University - Planet Vhoorl</h2>
            <p><strong>Major:</strong> Public Relations<br />
                <strong>Minor:</strong> Scale Tending</p>
        </dd>
        
        <dd class="clear"></dd>
        
        <dt>Skills</dt>
        <dd>
            <h2>Office skills</h2>
            <p>Office and records management, database administration, event organization, customer support, travel coordination</p>
            
            <h2>Computer skills</h2>
            <p>Microsoft productivity software (Word, Excel, etc), Adobe Creative Suite, Windows</p>
        </dd>
        
        <dd class="clear"></dd>
        
        <dt>Experience</dt>
        <dd>
            <h2>Doomsday Cult <span>Leader/Overlord - Baton Rogue, LA - 1926-2010</span></h2>
            <ul>
                <li>Inspired and won highest peasant death competition among servants</li>
                <li>Helped coordinate managers to grow cult following</li>
                <li>Provided untimely deaths to all who opposed</li>
            </ul>
            
            <h2>The Watering Hole <span>Bartender/Server - Milwaukee, WI - 2009</span></h2>
            <ul>
                <li>Worked on grass-roots promotional campaigns</li>
                <li>Reduced theft and property damage percentages</li>
                <li>Janitorial work, Laundry</li>
            </ul> 
        </dd>
        
        <dd class="clear"></dd>
        
        <dt>Hobbies</dt>
        <dd>World Domination, Deep Sea Diving, Murder Most Foul</dd>
        
        <dd class="clear"></dd>
        
        <dt>References</dt>
        <dd>Available on request</dd>
        
        <dd class="clear"></dd>
    </dl>
    
    <div class="clear"></div>
</div>

{% endblock %}


{% block javascript_files %}
{% endblock %}
