<!DOCTYPE html>
<html lang="zh-TW">
{% load static %}
  <head>
{% include 'components/meta.html' %}
    <title>

    {% block title %}
    {% endblock %}

    </title>

    <!--// ICONS //-->
    <link rel="shortcut icon" href="{% static "images/wonwon.ico" %}">

  {% block css_files %}
  {% endblock %}
	<!-- demo styles -->
	<link rel="stylesheet" type="text/css" href="{% static "navbar/css/demo.css" %}"/>
	<!-- menu styles -->
  <link rel="stylesheet" type="text/css" href="{% static "navbar/css/component.css" %}"/>
    
   


  </head>

  <body>
  
  <div class="container">
    {% include 'components/navbar.html' %}
    <div class="content" id ='content' >
        {% comment %} <p class="info">Please choose a category</p>  {% endcomment %}
    <!-- Ajax loaded content here -->
        {% block content %}


        {% endblock %}

    </div>
    

  </div>

    <script src="{% static "navbar/js/modernizr-custom.js" %}"></script>
    <script src="{% static "navbar/js/classie.js" %}"></script>
    <script src="{% static "navbar/js/dummydata.js" %}"></script>
    <script src="{% static "navbar/js/main.js" %}"></script>
    <script src="{% static "navbar/js/contrler.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static "navbar/js/notebook.js" %}"></script>

    

    {% block javascript_files %}
      
    {% endblock %}

  </body>
</html>
