{% load static %}
<!-- Blueprint header -->
<header class="bp-header cf">
<div class="dummy-logo">
    <h2 class="dummy-heading"><a href="/">Simon's<br>Box</a></h2>
</div>

</header>
<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
<nav id="ml-menu" class="menu">
<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
<hr size="3px" align="center" width="100%">

<div class="menu__wrap">
    <ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="All">
        <li class="mymenu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1" aria-owns="submenu-1"   href="/aboutme">About Me</a></li>
        <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2" aria-owns="submenu-2" href="#" >Collection</a></li>
        <li class="mymenu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3" aria-owns="submenu-3" href="#" id ='evernote'>NotBook</a></li>
    </ul>
    <!-- Submenu 1 -->
    {% comment %} <ul data-menu="submenu-1" id="submenu-1" class="menu__level" tabindex="-1" role="menu" aria-label="Me">
        <li class="mymenu__item" role="menuitem"><a class="menu__link" href="{% url "web_site:web_info" %}">Info</a></li>
        <li class="menu__item" role="menuitem"></li>
        <!-- <li class="" role="menuitem"><a class="menu__link" href="/admin">Website</a></li> -->
    </ul> {% endcomment %}
    <!-- Submenu 1-1 
    <ul data-menu="submenu-1-1" id="submenu-1-1" class="menu__level" tabindex="-1" role="menu" aria-label="Me">
    <li class="menu__item" role="menuitem"><a class="menu__link" href="#">info</a></li>
    <li class="menu__item" role="menuitem"><a class="menu__link" href="#">myweb</a></li>
    </ul>-->
    <!-- Submenu 2 -->
    <ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu" aria-label="Collection">
        {% comment %} <li class="mymenu__item" role="menuitem"><a class="menu__link" href="#" id = "collection_movieline" >LineBot-Movie</a></li> {% endcomment %}
        <li class="mymenu__item" role="menuitem"><a class="menu__link" href="/collection/1/" >LineBot-Movie</a></li>
        <li class="mymenu__item" role="menuitem"><a class="menu__link" href="/omnifood" >Omnifood</a></li>
        <li class="menu__item" role="menuitem"></li>
        <!---<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-1" aria-owns="submenu-2-1" href="#">Special Selection</a></li>---->
    </ul>
    <!-- Submenu 2-1
    <ul data-menu="submenu-2-1" id="submenu-2-1" class="menu__level" tabindex="-1" role="menu" aria-label="Special Selection">
        <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Exotic Mixes</a></li>
        <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Wild Pick</a></li>
        <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Vitamin Boosters</a></li>
    </ul> -->
    <!-- Submenu 3 -->

    {% comment %} <ul data-menu="submenu-3" id="submenu-3" class="menu__level" tabindex="-1" role="menu" aria-label="NotBook">
        <li class="mymenu__item" role="menuitem"><a class="menu__link" href="#" id = 'one'>version no.1</a></li>
        <li class="mymenu__item" role="menuitem"><a class="menu__link" href="#link4" >Millet</a></li>
        <li class="mymenu__item" role="menuitem"><a class="menu__link" href="#link2">Quinoa</a></li>
        <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Wild Rice</a></li>
        <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Durum Wheat</a></li>
        <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-1" aria-owns="submenu-3-1" href="#">Promo Packs</a></li>
    </ul> {% endcomment %}

    <!-- Submenu 3-1 
    <ul data-menu="submenu-3-1" id="submenu-3-1" class="menu__level" tabindex="-1" role="menu" aria-label="Promo Packs">
        <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Starter Kit</a></li>
        <li class="menu__item" role="menuitem"><a class="menu__link" href="#">The Essential 8</a></li>
        <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Bolivian Secrets</a></li>
        <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Flour Packs</a></li>
    </ul>-->
</div>
</nav>


